.container {
  height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wrapper {
  height: 400px;
}
.code {
  font-size: 12rem;
  color: var(--green);
}
.text {
  color: var(--primary);
  font-size: 2rem;
  font-weight: bold;
}
