.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 36px;
  min-height: calc(100vh - 76px);
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.title {
  font-family: var(--font-montserrat);
  font-weight: bold;
  color: var(--primary);
  line-height: 1.75;
}
.section {
  padding-top: 80px;
  color: #fff;
}
.blue {
  background-color: var(--blue);
  position: relative;
}
.left {
  position: absolute;
}
.right {
  position: absolute;
  right: 0;
}
.subtitle {
  font-size: 3.1rem;
  font-family: var(--font-montserrat);
  line-height: 1.5;
  color: #fff;
}
.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;

  a:nth-child(odd) {
    background-color: rgba(255,255,255,.06);
  }

  a:nth-child(10) {
    margin-top: 12px;
  }
}
.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 180px;
  height: 180px;


  p {
    margin-top: 14px;
    line-height: 1.3;
  }
}
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;

  p {
    color: var(--paragraph);
    padding-top: 15px;
    font-size: 1.2rem;
    line-height: 1.4;
  }
}
.link-title {
  color: var(--primary);
  font-size: 1.5rem;
  line-height: 1.6;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.case {
  background-color: #fff;
  width: 240px;
  height: 450px;
  padding: 10px;

  &:nth-child(5) {
    width: calc(50% - 7px);
    margin: 15px auto 0 auto;
    height: auto;
    display: flex;
    padding: 25px 10px;
  }
}

.product {
  background-color: #fff;
  padding: 25px 0;
  width: 322px;
  height: 360px;
  margin-bottom: 15px;

  &:nth-child(1) {
    height: auto;
    flex-basis: 100%;
    padding-top: 0;
    h3 {
      margin-top: 16px;
      height: 32px;
    }
  }
}