.header {
    margin: 0 auto;
    height: 76px;
    max-width: 1000px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.link {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary);
}
.row {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.drop {
    position: relative;
    padding: 12px 12px 12px 0;

    .content {
        display: none;
        position: absolute;
        width: 200px;
        top: 40px;
        border-radius: 4px;
        box-shadow: 0 3px 10px 0 rgba(0,0,0,.15);
        background-color: white;
        line-height: 1.75;

        a {
            display: block;
            padding: 12px 24px;
            color: var(--primary);
            font-weight: bold;
            &:hover {
                background-color: var(--background);
            }
        }
    }
    &:hover {
        .content {
            display: block;
        }
    }
}
.arrow {
    content: "";
    display: inline-block;
    position: relative;
    width: 8px;
    height: 8px;
    border: 2px solid var(--primary);
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
    right: 0;
    top: calc(50% - 10px);
    margin-left: 6px;
}
.img {
    margin-left: 6px;
}
