.footer {
  background-color: var(--primary);
  color: #a4acc6;
  padding: 25px;
  font-size: 1.15rem;
  line-height: 1.5;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.links {
  img {
    margin-right: 15px;
  }
}
.title {
  font-weight: bold;
  margin-bottom: 10px;
}
.contacts {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}